body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heading{
  color: lightcoral;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: lightgreen;
  margin: 50px 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.img-div{
  display: flex;
  justify-content: center;
}
.img-div img{
  height: 300px;
  width: 250px;
}

.card-img-top{
  height: 250px;
}